.midSection {
  margin-top: -15vh;
}

@import "./clearfix.module.scss";
// color
$color-primary: #54d17d;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: black;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-2: #eee;
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Font sizes

$default-font-size: 1.6rem;

.row {
  width: $grid-width;
  display: flex;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col_1_of_2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }
}

.popUp_section {
  padding: 25rem 0;
  margin-top: -20vh;
}

.composition {
  position: relative;
  &__photo1 {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.4);

    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;
    left: 0;
    top: -2rem;
    &:hover {
      outline: 1.5rem solid #fc5058;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color: #000000, $alpha: 0.5);
      z-index: 20;
    }
  }
  &__photo2 {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.4);

    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;
    right: 0;
    top: 2rem;
    &:hover {
      outline: 1.5rem solid #fc5058;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color: #000000, $alpha: 0.5);
      z-index: 20;
    }
  }
  &__photo3 {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.4);

    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;
    left: 20%;
    top: 10rem;
    &:hover {
      outline: 1.5rem solid #fc5058;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color: #000000, $alpha: 0.5);
      z-index: 20;
    }
  }
}

.secondary {
  color: #14a8dd;

  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.primary {
  color: #fc5058;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.tertiary {
  color: #14a8dd;

  width: 100%;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.btn {
  background-color: #fc5058;

  color: white;
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &__animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBotton {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.box {
  background-image: url("../public/Images/Stained.jpeg");
  background-size: cover;
  position: absolute;
  height: 50rem;
  width: 60rem;

  margin-top: 10%;
  margin-left: 20%;
  box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50.5rem;
    width: 50rem;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.3);
    transform: scaleX(-30deg);
    transition: 0.3s;
  }
  &:hover::before {
    left: 60.5rem;
  }
}
